body, ul, li, h1, h2, a{
  margin: 0;
  padding: 0;
  font-family: arial;/*This is a web safe font...It's enuf 2giv d body of a fontFamily Arial bcos will cascade into d rest of d rules tru inheritance */
  /*We need 2adjust d nav now bcos d font was a dffrnt size....Goto nav.main-nav*/
}

/* About static position */
header{
  /* position: static; */
/*   position: relative;
  left: 100px;
  top: 100px; */


  /* Fixed Position */
/* smthg with fixed pstn is pstn relative to viewPort(the section of d browser that we actually see i.e d browser window gangan) itself */
/* Now i wnt my header relatively fixed wit viewport...Goto the top of my css */
  position: fixed;
  background-color: #f63232;
  text-align: center;
  padding: 20px;
  width: 100%;
  /* Zindex prop bring things forward or push them back on d page so...Z-index>0 brings frwrd but Z-index<0 pushes backwrd*/
  /* let's bring the header forward...Z-indx=1 */
  z-index: 1;
  top: 0px;
  left: 0px;
}
header h1{
  color: white;
  border: 8px solid white;
  padding: 6px 12px;
/*To remove d lines around it..use display:inline-block*/
  display: inline-block;
  border-radius: 36px;
}
/* About Static&Absolute position */
section.banner{
  position:relative;
}
section.banner img{
max-width: 100%;
}

/* wen put elmnts in abs pos:we take it out of normal doc flow&looses it's space& we loose it's original space */
div.welcome{
  background-color: #feb614;
  color: #fff;
  padding: 30px;
  position: absolute;
  left: 0px;
  top: 30%;
/*   if u put top in% it allows welcome to shrink and stretches */
}
 div.welcome h2{
  font-size: 74px;
}
div.welcome h2 span{
  font-size: 1.3em;
  /* em= parent's fontSize*1.3 =>74*1.3px*/
}

/* STICKY POSITION===static pstn + fixed pstn*/
/* It starts with static and later Fixed pstn */
nav.main-nav{
  background-color: #f4f4f4;
  padding: 20px;
/*Pstn:sticky & at 148px to it will become fixed(stick) from static while navigating(srcolling) the veiwport */
  position: sticky;
  top: 100px;
}

nav.main-nav ul{
  white-space: nowrap;
  max-width: 1200px;/*This is central columm*/
  margin: 0 auto;/*top&bottom=0 and auto means for left&right if there is any left over space i'm goint to apply it..inShort...it centralizes it in the middle*/
}

nav.main-nav li{
   width: 25%;/*So that they can spread across Note:if it not in % it will not spread*/
   display: inline-block;/*This maks them sit next to each other*/
   font-size: 24px;/*the last one goes2d nxt line.This is a quirk of using inline block& 25% width...They should all add up on the same row....To rectify this...create a rule ontop for the parent elemnt(nav ul) and set white-space: nowrap; */
 }

 nav.main-nav a{
   text-decoration: none;
   color: #4b4b4b;
 }
/*CSS resetting the Layout using the default browser settings properties...Goto d top..body,ul, etc*/
nav.main-nav a.join{
  color: #f63232;
}
main{
  max-width: 100%;/*This means that this will inherit whateva d width of the browser's veiwport this page gets opened or loaded*/
  width: 1200px; /*this means if a page or browser is 2000px wide then d width is going to be 1200px. If i now add margin to it, the it bring page to central column....margin:80px auto  & padding: 0 40px*/
  margin: 80px auto;
  padding: 0 40px;
  /*If u inspect this,u will noice dat d nav is gone beyond d page despite d fact that we've centralizes it...This is bcos we've added padding>>it is now 100%width+padding.....To rectify this use a prop called box-sizing: border-box;*/
  box-sizing: border-box;/*this will incorporate padding into total width*/
}
main article h2{
  color: #f63232;
  font-size: 48px;
}
main article p{
  line-height: 2em;
  color: #4b4b4b;
}
 ul.images{
  text-align: center;
  margin: 80px 0;
  list-style-type: none;
  white-space: nowrap;
  }
   ul.images li{
    display: inline-block;/*for imgs 2sit nxt 2each other*/
    width: 40%;/*For d img 2spread across*/
    margin: 20px 5%;/*now with additn of 5% width of right&left....this makes a toatal width of 50%width for each li.....now with this d img r sitting on each other,to solve this Goto d parent's tag==>.images{whtites-pace: nowrap}*/
  }
  /* set the image size of the imgs equal to parent's width */
.images li img{
  max-width: 100%;/*this means 100% of d parent's width */
  /**/
}
section.join{
  background-color: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: #4b4b4b;
}
section.join h2{
  font-size: 36px;
}
form input{
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 28px;
  font-size: 24px;
  border: 4px solid white;
}
footer{
  background: #f63232;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Pseudo Classes*/
/* -Style elements wen they're in a particular state such as */
/* when we hover overe elements: :hover
when a form field is in focus:  :focus
when an element is the first child of the parent element: :first-child*/ 

/* Hover over the links: make them underline wen hover over them */
nav.main-nav a:hover{
  text-decoration: underline;
  /* background-color: pink;
  padding: 3px; */
}
/*Position:relative...>is to shiftup elemnts out of their original paces*/
main ul.images li:hover{
  position: relative;
  top: -4px;/*OR=== bottom:4px*/
  /*hover this img by moving up by-4px*/
}
/* Focus Pseudo Class */
form input:focus{
  border: 4px dashed #4b4b4b;
  outline: none;/*removing the border is not a best practise*/
}

/* Valid Pseudo Class:...input form comes with validation..eg email: Wat this does is as soon i typed in valid emial it will show green or smthg*/
form input:valid{
  border: 4px solid #71d300;
}

/*:first-child Pseudo Class */
/* a :first-child can target d child of parent elemnt wen it's d first child inside that parent eg "join the club"in a nav bar*/
/* nav.main-nav a.join:first-child{
  border: 6px solid #f63232
} */

/* Pseudo Elements */
main article p::first-line{
  /*This means style the first line of article paragraph to have the following*/
  font-weight: bold;
  font-size: 1.2em;
}
section.join p::first-letter{
  font-size: 1.5em;
}
p::selection{
  background-color: #f63232;/*this means if u highlight any part of d paragraph on this page d color bcmes red*/
  color: white;
}
p::after{
  content: '...';
  /* this is used to inject content into ur elemtns ::before or ::after*/
}

/* Responsive Design */
/* Media Queries: Tell d browser how to style an elemnt @ prticular viewport dimenaions(width) on dffrnt devices*/

/* MEDIA QUERY SYNTAX*/
/* @media(means: d media query) screen(we're targeting all devices dat hv a screen i.e desktop computers, laptops,mobile tarblets) and(here d condition..eg max-width:1400px;)it means this style we placehere will apply only to devices from 1400px below but will not apply to devices higher than that...CONVERSELY this cud be min-width: 800px;meaning, i wnt this style apply to devices with minimum width of 800px but not below it.
{
  We can grab our selector and style them here with properties we wnt to override wen this codition is applied...eg welcome nav
}) */

@media screen and (max-width: 1400px) {
   div.welcome h2{
    font-size: 60px;
  }
  nav.main-nav li{
    font-size: 18px;
  }
 
}

@media screen and (max-width: 960px) {
   div.welcome h2{
    font-size: 40px;
  }
}

/* Now, i wnt my h2Welcomec back in it's original place & put it back to relative postion and put all the text in the same font, and  put them at the center& reduce the space*/
@media screen and (max-width: 700px) {
  div.welcome {
    position: relative;
    top: -3.8px;
    text-align: center;
    padding: 12px;
  }
  /*Now i wnt all my h2 display on one line...d reason all was not on one line is br tag...To solve this grab br tag set it to div.welcome br{display:none} inside this query*/
  div.welcome br{
    display: none;
  }
  div.welcome h2{
    font-size: 25px;
  }
  div.welcome h2 span{
    font-size: 1em;
  }
  /*I want to sort out image*/
  ul.images li{
    /*I wnt to mak d width100% so that they can sit ontop of each other dply it as block*/
    width: 100%;
    margin: 20px auto;
    display: block;
  }
}
/*I wnt d link 2sit on each other @560px */
@media screen and (max-width: 560px) {
  nav.main-nav li{
    font-size: 20px;/*this is 4mobile devices*/
    position: relative;
    display: block;/*so they sit on each other*/
    width: 100%;
    margin: 12x 0;
  }
  /*I wnt to change the postion d header so that it doesnt hide d rest of d banner as we scroll the page*/
  header{
    position: relative;
  }

  /* also makes the nav stiky wen i scroll d page up */
  nav.main-nav{
    top: 0;
  }
}
/* Responsive images: Only load smaller images with smaller file size ..mobiledevices */

